<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Legg til bruker</title>
  <style>
    label {
      display: inline-block;
      width: 7em;
    }

    input:invalid {
      border: 1px solid red;
    }

    #noEqual {
      display: none;
      color: red;
    }

    .serverError {
      color: red;
    }
  </style>
</head>
<body>
  {% if code==1 %}
    <span class="serverError">
      <b>Melding fra serveren: </b> {{ hint }}
    </span>
  {% endif %}
  <form action="addUser.php" method="post">
    <label for="uname">Brukernavn</label><input type="email" id="uname" name="uname" required pattern=".{6,}" placeholder="hans@hansen.no" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Gyldig e-post adresse"><br>
    <label for="pwd">Passord</label><input class="pwd" type="password" id="pwd" name="pwd" required pattern=".{6,}" title="Seks eller flere tegn"><br>
    <label for="pwd1">Bekreft passord</label><input class="pwd" type="password" id="pwd1" name="pwd1" required pattern=".{6,}" title="Seks eller flere tegn"> <span id="noEqual">De to passordene må være like</span><br>
    <label for="firstName">Fornavn</label><input type="text" id="firstName" name="firstName" required pattern=".{2,}" title="To eller flere tegn"><br>
    <label for="lastName">Etternavn</label><input type="text" id="lastName" name="lastName" required pattern=".{4,}" title="Fire eller flere tegn"><br>
    <input type="submit" value="Legg til bruker">
  </form>
  <script>
    document.querySelectorAll('.pwd').forEach(pwd=>{
      pwd.addEventListener('input', e=>{
        if (document.getElementById('pwd').value!=document.getElementById('pwd1').value) {
          document.getElementById('noEqual').style.display = "inline-block";
        } else {
          document.getElementById('noEqual').style.display = "none";
        }
      })
    })

    document.querySelector("form").addEventListener('submit', e=>{
      if (e.target.pwd.value!=e.target.pwd1.value) {  // Checks for equal passwords before sending
        e.preventDefault();
      }
    })
  </script>
</body>
</html>
